APP_PORT=8793
APP_HOST=0.0.0.0
APP_SECRET=APP_SECRET
DB_MONGO_CONNECTION=mongodb://localhost/webapp-template
DB_MONGO_USERNAME=root
DB_MONGO_PASSWORD=root!
JWT_SECRET=JWT_SECRET
LOG_LEVEL=trace
SESSION_SECRET=SESSION_SECRET

SMTP_HOST=smtp.qq.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=YOU_EMAIL@foxmail.com
SMTP_PASS=YOUR_SMTP_PASSWORD