# .env
APP_PORT=8793
APP_HOST=0.0.0.0
APP_ENV=development
APP_SECRET=5BnnbJ_0U-doy5dzOn-BS

DB_MONGO_CONNECTION=mongodb://mongodb:27017/webapp-template
DB_MONGO_USERNAME=webapp
DB_MONGO_PASSWORD=Wxf1234321!

MIGRATE_ON_START=true

JWT_SECRET=FlrN0hoWsYGYQ7WpEp29S

LOG_LEVEL=info
DEBUG=true

SESSION_SECRET=wzoqPVI8POT_-XXrwQuBa

SMTP_HOST=smtp.qq.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=3125019716@qq.com
SMTP_PASS=rlzgoyjkqydcdfhg