.webapp-template-loading,
.webapp-template-loading>div {
  position: relative;
  box-sizing: border-box;
}

.webapp-template-loading {
  display: block;
  color: var(--loading-color2, #66666681);
  font-size: 0;
}

.webapp-template-loading.la-dark {
  color: #333;
}

.webapp-template-loading>div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.webapp-template-loading {
  width: 32px;
  height: 32px;
}

.webapp-template-loading>div:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 60%;
  height: 60%;
  background: var(--loading-color, #666666);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  animation: ball-atom-shrink 2.5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.webapp-template-loading>div:not(:nth-child(1)) {
  position: absolute;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: none;
  animation: ball-atom-zindex 1.5s 0s infinite steps(2, end);
}

.webapp-template-loading>div:not(:nth-child(1)):before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  background: currentColor;
  border-radius: 50%;
  opacity: 0.75;
  animation: ball-atom-position 1.5s 0s infinite ease, ball-atom-size 1.5s 0s infinite ease;
  content: "";
}

.webapp-template-loading>div:nth-child(2) {
  animation-delay: 0.75s;
}

.webapp-template-loading>div:nth-child(2):before {
  animation-delay: 0s, -1.125s;
}

.webapp-template-loading>div:nth-child(3) {
  transform: rotate(120deg);
  animation-delay: -0.25s;
}

.webapp-template-loading>div:nth-child(3):before {
  animation-delay: -1s, -0.75s;
}

.webapp-template-loading>div:nth-child(4) {
  transform: rotate(240deg);
  animation-delay: 0.25s;
}

.webapp-template-loading>div:nth-child(4):before {
  animation-delay: -0.5s, -0.125s;
}

@keyframes ball-atom-position {
  50% {
    top: 100%;
    left: 100%;
  }
}

@keyframes ball-atom-shrink {
  50% {
    scale: 0.8;
  }
}